S3_API_URL=https://f3ce197a7566316351089c61b0c859b8.eu.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID= # Find it in https://dash.cloudflare.com/f3ce197a7566316351089c61b0c859b8/r2/api-tokens/create?type=user
R2_SECRET_ACCESS_KEY= # Find it in https://dash.cloudflare.com/f3ce197a7566316351089c61b0c859b8/r2/api-tokens/create?type=user
R2_BUCKET_NAME=pemd360
BETTER_AUTH_SECRET=
# BETTER_AUTH_URL=https://pemd360.vercel.app/
MATTERPORT_SDK_KEY=
TURSO_CONNECTION_URL=libsql://pemd-osbyrne.aws-eu-west-1.turso.io
TURSO_AUTH_TOKEN=
