# Dependencies
node_modules

# Output
.output
.vercel
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#devbox
devbox.lock
/.devbox

# Bun
bun.lock
